// 手机版
@media screen and (max-width: 1000px) {
    #header {
        width: 100%;
        height: 0.9rem;
        #tab {
            width: 100%;
            height: 0.9rem;
            line-height: 0.9rem;
            border-bottom: solid 1px rgba(50,50,50,.2);
            display: flex;
            h5 {
                flex: 1;
                font-size: 0.4rem;
                padding-left: 0.5rem;
            }
            ul {
                display: none;
            }
            .active{
                color: #000!important;
                border-bottom: 0.03rem solid blue!important;
            }
            #login {
                display: none;
            }
            #more {
                width: 10%;
                text-align: center;
                margin-right: 0.5rem;
                color: blue;
                font-size: 0.8rem;
            }
        }
    }
    #head { 
        width: 100%;
        height: 900px;
        #tabImg {
        width: 100%;
        height: 100%;
        }
    }
    #content {  
        width: 100%;
        height: 100%;
        .tablist {
            width: 100%;
            height: 1rem;
            line-height: 1rem;
            font-size: 0.2rem;
            border-bottom: 0.01rem solid #ccc;
            color: #ccc;
            display: flex;
            li{
                width: 20%;
                text-align: center;
            }
            .active{
                color: #000!important;
                border-bottom: 0.03rem solid blue!important;
            }
        }
        .hide {
            display: none;
        }
        .show {
            display: block;
        }
    }
    #footer {  }
}