// 手机版
@media screen and (max-width: 1000px) {
    #header {
        width: 100%;
        height: 0.8rem;
        #tab {
            width: 100%;
            height: 0.8rem;
            line-height: 0.8rem;
            border-bottom: solid 1px rgba(50,50,50,.2);
            display: flex;
            h5 {
                flex: 1;
                font-size: 0.4rem;
                padding-left: 0.5rem;
            }
            ul {
                display: none;
            }
            .active{
                color: #000!important;
                border-bottom: 0.03rem solid blue!important;
            }
            #login {
                display: none;
            }
            #more {
                width: 10%;
                text-align: center;
                margin-right: 0.5rem;
                color: blue;
                font-size: 0.8rem;
            }
        }
    }
    #head { 
        width: 100%;
        height: 700px;
        #tabImg {
        width: 100%;
        height: 100%;
        }
    }
    #content {  
        width: 100%;
        height: 100%;
        .tablist {
            width: 100%;
            height: 1rem;
            line-height: 1rem;
            font-size: 0.2rem;
            border-bottom: 0.01rem solid #ccc;
            color: #ccc;
            display: flex;
            li{
                width: 20%;
                text-align: center;
            }
            .active{
                color: #000!important;
                border-bottom: 0.03rem solid blue!important;
            }
        }
        .hide {
            display: none;
        }
        .show {
            display: block;
        }
        .trend {
            width: 100%;
            height: 100%;
            h5 {
                width: 90%;
                height: 30px;
                line-height: 30px;
                border-left: 2px solid skyblue;
                padding-left: 15px;
                color: #ccc;
                margin: 1%;
                font-size: 30px;
            }
            .trendCon {
                .trendLeft {
                    width: 100%;
                }
                .trendRight {
                    width: 100%;
                    h6{
                        width: 100%;
                        height: 60px;
                        font-size: 30px;
                        line-height: 60px;
                        text-align: center;
                    }
                    ul{
                        width: 100%;
                        margin: 10px;
                        box-sizing: border-box;
                        font-size: 28px;
                        li{
                            width: 100%;
                            height: 55px;
                            line-height: 55px;
                            padding-left: 20px;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
    }
    #footer {  }
}